@font-face {
  font-family: 'Oswald-Regular';
  src: url('../fuente-oswald/Oswald-Light.ttf') format("truetype");
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald-Regular';
}



/* VERSION DESKTOP --------------*/

@media only screen and (min-width: 482px) {


  /* NAVEGADOR --------------*/

  #wrapper {

    display: none;
  }


}

.nav-container {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logohtml {
  height: 120px;
  margin-left: 40px;
}

.links-container {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-link {
  height: 120px;
  display: flex;
  align-items: center;
}


.link {
  font-size: 25px;
  height: 120px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  color: #1b1c20;
  padding: 40px;
}


.link:hover {
  text-align: center;
  color: #ffffff;
  text-decoration: underline;
  background-color: black;
}



/*logos redes*/

.redes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}

.fa {
  padding: 8px;
  text-align: center;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 4px;
  width: 45px;
  height: 45px;
  display: flex;
  font-size: 25px;
  color: #ffffff;
  opacity: 0.8;
}


.fa:hover {

  scale: 1.25;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  opacity: 1;
}


.fa-facebook {

  background: #3B5998;
  color: #ffffff;
}


.fa-twitter {

  background: #1A8CD8;
  color: #ffffff;

}

.fa-youtube {

  background: #FF0000;
  color: #ffffff;

}

.fa-instagram {

  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
  
}


/*  --------------*/




/* BANNER PRINCIPAL VIDEO ------------------- */


.fondovideo {

  display: flex;
  align-items: center;
  justify-content: center;
}

.videobanner {

  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: -1;
}

.textoscontainer {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.textoh1 {

  color: #ffffff;
  font-size: 30px;
}

.textoh2 {

  color: #ffffff;
  font-size: 80px;
}

/* ------------------- */


/* CARDS LUGARES DEL MUNDO ------------------- */


.titulolugares {

  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 50px;
}

.cards-container {

  display: flex;
  flex-direction: row;
  justify-content: center;

}


.cards-container>div {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
  border-radius: 20px;
  margin: 40px;
}



.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.5s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;

}

.flip-card-side-left:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.flip-card-center:hover .flip-card-inner {
  transform: rotateX(180deg);
}


.flip-card-side-right:hover .flip-card-inner {
  transform: rotateY(-180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 20px;
}

.mountain {
  width: 300px;
  height: 200px;
  border-radius: 20px;
  background-size: cover;
  position: absolute;
}

.textomountain {
  position: relative;
  font-size: 50px;
  color: #ffffff;
  margin-top: 60px;
  text-shadow: 10px 7px 3px #1b1c20;

}


.textolake {

  position: relative;
  color: #ffffff;
  rotate: 180deg;

}

.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 20px;

}

.flip-card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #1b1c20;
  color: #ffffff;
  transform: rotateY(180deg);
  border-radius: 20px;
}



/*  --------------*/



/* PRICING ------------------- */


.pricing-container {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F0F4F7;
  width: "100%";
  height: 1000px;
  margin-top: 80px;

}

.titulo-pricing {

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 70px;
  color: #6d6f7a;

}

.subtitulo-pricing {

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
  color: #90939e;
  margin-top: 20px;

}

.three-cards-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.card-pricing-container {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 300px;
  height: 600px;
  margin-top: 80px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 10px;

}


.card-pricing-container:hover {

  scale: 1.08;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.blue-circle-container {

  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: hsl(194, 100%, 61%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -80px;
  margin-right: -200px;
}

.blue-circle-container:hover {

  transform: rotate(360deg);
  transition: 0.5s ease;
  background-color: #dc2743;

}

.blue-circle-text {

  color: #FFFFFF;
  font-size: 14px;

}


.titulo-packege {

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  color: #6d6f7a;

}

.price-container {

  height: 100px;
  width: 220px;
  border-top: 2px solid #c7c8d1;
  border-bottom: 2px solid #c7c8d1;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}


.subprice-container {

  display: flex;
  margin-top: 20px;
  height: 100px;

}

.dollar {

  font-size: 15px;
  margin-top: 14px;
  color: #6d6f7a;

}


.nineteen {

  font-size: 50px;
  color: #6d6f7a;

}

.month {

  font-size: 15px;
  margin-top: 42px;
  color: #6d6f7a;

}


.list-container {

  height: 250px;
  width: 220px;
  border-bottom: 2px solid #c7c8d1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.circle-list {

  height: 200px;
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;

}

.circle-container {

  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
}

.circle {

  height: 20px;
  width: 20px;
  background-color: #6fcf5a;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

}

.tic {

  font-size: 18px;
  color: white;
  font-family: wingdings;

}

.text-list {

  height: 200px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.text-container {

  height: 30px;
  width: 150px;
  margin-top: 7.5px;

}



.text-pro {

  font-size: 16px;
  color: #6d6f7a;
  margin-left: 9px;

}

.text-pro-gold {

  font-size: 16px;
  color: #6d6f7a;
  margin-left: 9px;

}

.button {

  background-color: #6fcf5a;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  margin-top: 40px;
  height: 50px;
  width: 130px;
  box-shadow: 3px 3px 6px #575a64;
  font-size: 16px;


}

.button-gold {

  background-color: #6fcf5a;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  margin-top: 40px;
  height: 50px;
  width: 130px;
  box-shadow: 3px 3px 6px #575a64;
  font-size: 16px;

}

.button:hover {
  box-shadow: none;
}

.button-gold:hover {
  box-shadow: none;
}


/*-----------------


/* FOOTER ------------------- */


.footer-container {

  background-color: #1b1c20;
  width: 100vw;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.footer-text {

  color: #ffff;
  font-size: 20px;

}


/* 
-----------------------





--------- VERSION MOBILE HASTA 481 PX --------------------------- */



@media only screen and (max-width: 481px) {



/* NAVEGADOR MOBILE ---------------*/


  .nav-container {

    display: none;

  }


  #wrapper {
   
    height: 90px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }



  #header {

    display: flex;
    flex-direction: row;
    align-items: center;
  }

  
  .logo-mobile-header {
    height: 70px;
    margin-top: 10px;
    margin-right: 20px;
  }


  #menu_on {
    display: inline-block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 2;
    margin-left: 20px;
    margin-top: 10px;
  }

  #menu_on span {
    width: 100%;
    height: 4px;
    display: block;
    position: absolute;
    background: #000000;
    transition: all 0.25s ease;
    transform-origin: 0px 100%;
  }

  #menu_on span:nth-child(2) {
    top: calc(50% - 2px);
    opacity: 0px;
  }

  #menu_on span:nth-child(3) {
    bottom: 0;
  }


  .nav-mobile-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%; 
    width: 100%;
    height: 560px;
    z-index: 1;
    padding: 90px 30px 30px;
    background: #ffffff;
    transition: all 0.75s ease;
    font-size: 1.2em;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }


  .link-mob {
    font-size: 23px;
    flex-direction: column;
    text-align: left;
    text-decoration: none;
    color: #1b1c20;
    padding-left: 20px;
    padding-top: 30px;
    height: 80px;
    width: 100%;

  }


  .logo-mobile-html {
    height: 100px;
    margin-left: 10px;
  }


  .redes-mobile-container {

    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
  }
  

  .visible_menu span:nth-child(1) {
    transform: rotate(45deg) translate(-2px, 1px);
  }

  .visible_menu span:nth-child(2) {
    opacity: 0;
  }

  .visible_menu span:nth-child(3) {
    transform: rotate(-45deg) translate(-3px, 3px);
  }


  .visible_menu .nav-mobile-container {
    left: 0;
    opacity: 1;
  }

  .visible_menu #content {
    transform: translateX(260px);
  }




/*  --------------*/



/* BANNER PRINCIPAL VIDEO MOBILE ------------------- */


.fondovideo {

  width: 100%;
}

.videobanner {

  width: 100%;
}

.textoscontainer {

  width: 100%;
}

.textoh1 {

  font-size: 16px;
}

.textoh2 {

  font-size: 30px;
}

/* ------------------- */


/* CARDS LUGARES DEL MUNDO MOBILE ------------------- */


.titulolugares {

  text-align: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 30px;
}



.cards-container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.cards-container>div {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
  border-radius: 20px;
  margin: 10px;
}



/*  --------------*/



/* PRICING MOBILE ------------------- */


.pricing-container {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F0F4F7;
  width: 100%;
  height: 1200px;
  margin-top: 50px;

}

.titulo-pricing {

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
  color: #6d6f7a;
  margin-top: 40px;

}

.subtitulo-pricing {

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  color: #90939e;
  margin-top: 10px;
  margin-bottom: 20px;

}

.three-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 1070px;
  margin-bottom: 30px;
  margin-top: 20px;

}

.card-pricing-container {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 290px;
  height: 330px;
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 10px;

}


.card-pricing-container:hover {

  scale: 1.08;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.blue-circle-container {

  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #c50535;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  margin-right: 200px;
  rotate: -15deg;
 
}

.blue-circle-container:hover {

  transform: rotate(360deg);
  transition: 0.5s ease;
  background-color: #c50535;

}

.blue-circle-text {

  color: #FFFFFF;
  font-size: 8px;

}


.titulo-packege {

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 19px;
  color: #6d6f7a;
  margin-top: 6px;

}

.price-container {

  height: 60px;
  width: 220px;
  margin-top: 6px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 0px;
  border-bottom: 0px;

}


.subprice-container {

  display: flex;
  margin: 0px;
  height: 60px;

}

.dollar {

  font-size: 14px;
  margin-top: 10px;
  color: #6d6f7a;

}


.nineteen {

  font-size: 40px;
  color: #6d6f7a;

}

.month {

  font-size: 12px;
  margin-top: 34px;
  color: #6d6f7a;

}


.list-container {

  height: 100px;
  width: 220px;
  border-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 6px;

}

.circle-list {

  height: 80px;
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;

}

.circle-container {

  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
}

.circle {

  height: 16px;
  width: 16px;
  background-color: #6fcf5a;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

}

.tic {

  font-size: 14px;
  color: white;
  font-family: wingdings;

}

.text-list {

  height: 80px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  

}

.text-container {

  height: 30px;
  width: 150px;
  margin-top: 0px;
  margin-left: 4px;

}


.text-pro {

  font-size: 15px;
  color: #6d6f7a;
  margin-left: 4px;

}

.text-pro-gold {

  font-size: 15px;
  color: #6d6f7a;
  margin-bottom: 2px;

}

.button {

  background-color: #6fcf5a;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  margin-top: 6px;
  margin-bottom: 6px;
  height: 35px;
  width: 150px;
  box-shadow: 3px 3px 6px #575a64;
  font-size: 14px;


}

.button-gold {

  background-color: #6fcf5a;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  margin-top: 50px;
  height: 35px;
  width: 150px;
  box-shadow: 3px 3px 6px #575a64;
  font-size: 14px;

}



/*-----------------*/


/* FOOTER MOBILE ------------------- */


.footer-container {

  background-color: #1b1c20;
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.footer-text {

  color: #ffff;
  font-size: 16px;

}


/* -----------------------*/

}